:root {
    @each $slug, $color in $theme-colors {
        --global--color-#{$slug}: #{$color};
    }

    --global--color-primary: var(--global--color-black);
    --global--color-secondary: var(--global--color-red);
    --global--color-background: var(--global--color-cream);

    --form--border-color: var(--global--color-black);
}

@each $slug, $color in $theme-colors {
    .has-#{$slug}-color[class] {
        color: var(--global--color-#{$slug});
    }

    .has-#{$slug}-background-color[class] {
        background-color: var(--global--color-#{$slug});
    }
}
