$color-peepl-black: #000000;
$color-peepl-white: #ffffff;
$color-peepl-red: #ff344d;
$color-peepl-cream: #fffdf6;
$color-peepl-clay: #edeade;

$theme-colors: (
    "black": $color-peepl-black,
    "white": $color-peepl-white,
    "red": $color-peepl-red,
    "cream": $color-peepl-cream,
    "clay": $color-peepl-clay,
);

$screen-sm-min: 482px;
$screen-md-min: 652px;
$screen-lg-min: 822px;
$screen-xl-min: 1024px;
$screen-xxl-min: 1200px;

$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;
$screen-lg-max: $screen-xl-min - 1px;
$screen-xl-max: $screen-xxl-min - 1px;

$border-radius: 0.3rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.2rem;

$box-shadow: 0 .5rem 1rem rgba($color-peepl-black, 0.15);
$box-shadow-sm: 0 .125rem .25rem rgba($color-peepl-black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($color-peepl-black, 0.175);
